.qodo
.env
node_modules
*.log
user-db/
cart-db/
order-db/
payment-db/
*.rest
postgres/
# PostgreSQL data
postgres/**/base/
postgres/**/pg_wal/
postgres/**/pg_xact/
postgres/**/pg_multixact/
postgres/**/pg_subtrans/
postgres/**/pg_twophase/
.vscode/